Repository GAIA-X4PLC-AAD/ontology-management-base: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, jsonld-lint, turtle-lint

black:
  name: black
  entry: black
  language: system
  args:
  - --config=pyproject.toml
  pass_filenames: true

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --settings=pyproject.toml
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8
  pass_filenames: true

jsonld-lint:
  name: JSON-LD Parser
  entry: python src/utils/check_parse_jsonld.py
  language: system

turtle-lint:
  name: Turtle Parser
  entry: python src/utils/check_parse_turtle.py
  language: system

add .gitattributes
  .gitattributes
Due: none

fix: validation with oxigraph
  environment-model/environment-model_shacl.ttl
  hdmap/hdmap_shacl.ttl
  openlabel/openlabel_instance.json
  openlabel/openlabel_shacl.ttl
  ositrace/ositrace_shacl.ttl
  scenario/scenario_ontology.ttl
  scenario/scenario_shacl.ttl
  simulation-model/simulation-model_shacl.ttl
  src/check_jsonld_against_shacl_schema.py
  tzip21/tzip21_ontology.ttl
Due: black, isort, flake8, jsonld-lint, turtle-lint

Add PROPERTIES.md files
  environment-model/PROPERTIES.md
  hdmap/PROPERTIES.md
  openlabel/PROPERTIES.md
  ositrace/PROPERTIES.md
  scenario/PROPERTIES.md
  simulation-model/PROPERTIES.md
Due: none

fix: ositrace validation
  ositrace/ositrace_shacl.ttl
Due: turtle-lint

Add PROPERTIES.md files
  ositrace/PROPERTIES.md
Due: none

chore(ci): modernize ci and build instructions, fix tests, update templates
  .github/pull_request_template.md
  .github/workflows/branch-push.yml
  .github/workflows/ci.yml
  .github/workflows/linter.yml
  .github/workflows/manual_upload_to_fc.yml
  .gitignore
  README.md
  envited-x/tests/fail_01_missing_has_content_instance.expected
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.expected
  manifest/tests/fail_01_missing_license_instance.expected
  manifest/tests/fail_02_missing_manifest_instance.expected
  manifest/tests/fail_03_wrong_category_instance.expected
  manifest/tests/fail_04_missing_id_mimeType_ldjson_instance.expected
  manifest/tests/fail_05_wrong_mimeType_instance.expected
  manifest/tests/fail_06_wrong_cid_instance.expected
  pyproject.toml
  requirements.txt
  src/run_all_checks_locally.py
Due: black, isort, flake8

fix: ci
  .gitignore
  src/run_all_checks_locally.py
Due: black, isort, flake8

fix: ci 2
  .github/workflows/ci.yml
Due: none

chore(ci): overhaul pipeline and local validation scripts (#167)
  .github/pull_request_template.md
  .github/workflows/branch-push.yml
  .github/workflows/ci.yml
  .github/workflows/linter.yml
  .github/workflows/manual_upload_to_fc.yml
  .gitignore
  README.md
  envited-x/tests/fail_01_missing_has_content_instance.expected
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.expected
  manifest/tests/fail_01_missing_license_instance.expected
  manifest/tests/fail_02_missing_manifest_instance.expected
  manifest/tests/fail_03_wrong_category_instance.expected
  manifest/tests/fail_04_missing_id_mimeType_ldjson_instance.expected
  manifest/tests/fail_05_wrong_mimeType_instance.expected
  manifest/tests/fail_06_wrong_cid_instance.expected
  pyproject.toml
  requirements.txt
  src/run_all_checks_locally.py
Due: black, isort, flake8

fix toml
  pyproject.toml
Due: none

fix inclusion of root_dir argument
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8

introduce --force-load, validation working for credentials
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8

fix flake
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8

add credential and status list ontologies, improve local context resolver
  base-ontologies/cred/cred_context.jsonld
  base-ontologies/cred/cred_ontology.ttl
  base-ontologies/cs/cs_context.jsonld
  base-ontologies/cs/cs_ontology.ttl
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8, turtle-lint

WIP
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8

fix: lint
  src/check_jsonld_against_shacl_schema.py
  src/utils/check_parse_turtle.py
Due: black, isort, flake8

fix: example/ instance, incorrect #
  README.md
  example/example_instance.json
  src/run_all_checks_locally.py
Due: black, isort, flake8, jsonld-lint

ci: run only on changed folders
  .github/workflows/ci.yml
  src/run_all_checks_locally.py
Due: black, isort, flake8

feat(ontology): refactor context resolution & add force-load flag (#168)
  .github/workflows/ci.yml
  README.md
  base-ontologies/cred/cred_context.jsonld
  base-ontologies/cred/cred_ontology.ttl
  base-ontologies/cs/cs_context.jsonld
  base-ontologies/cs/cs_ontology.ttl
  example/example_instance.json
  pyproject.toml
  src/check_jsonld_against_shacl_schema.py
  src/run_all_checks_locally.py
  src/utils/check_parse_turtle.py
Due: black, isort, flake8, jsonld-lint, turtle-lint

docs: auto-update readme from catalog xml
  README.md
Due: none

finish
  .pre-commit-config.yaml
  README.md
  docs/registry.json
Due: jsonld-lint

Finish
  docs/registry.json
Due: jsonld-lint

fix references
  .github/workflows/ci.yml
  Makefile
  docs/6-validation-tools/tools/index.md
  docs/6-validation-tools/tools/run-all-checks.md
  docs/validation/run-all-checks.md
  src/tools/validators/validation_suite.py
Due: black, isort, flake8

fix: correct Python module paths from forward slash to dot notation
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  Makefile
  pyproject.toml
Due: none

fix: paths
  artifacts/catalog-v001.xml
  src/tools/utils/properties_updater.py
  src/tools/utils/registry_updater.py
  tests/fixtures/catalog-v001.xml
Due: black, isort, flake8

fix: paths 2
  .github/workflows/update_catalog_readme.yml
Due: none

import test
  src/tools/validators/verify_turtle_syntax.py
Due: black, isort, flake8

WIP
  .flake8
  .github/workflows/cd-docs.yml
  .github/workflows/cd-release.yml
  .github/workflows/ci-docs-maintenance.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ops-fc-upload.yml
  .github/workflows/update_catalog_readme.yml
  artifacts/catalog-v001.xml
  docs/registry.json
  imports/catalog-v001.xml
  pyproject.toml
  src/tools/uploaders/fc_upload.py
  src/tools/uploaders/fc_upload_with_update.py
  src/tools/utils/file_collector.py
  src/tools/utils/registry_updater.py
  src/tools/validators/validation_suite.py
  tests/catalog-v001.xml
  tests/data/envited-x/invalid/fail_01_missing_has_content_instance.expected
  tests/data/envited-x/invalid/fail_02_missing_iri_manifest_link_instance.expected
  tests/data/manifest/invalid/fail_01_missing_license_instance.expected
  tests/data/manifest/invalid/fail_02_missing_manifest_instance.expected
  tests/data/manifest/invalid/fail_03_wrong_category_instance.expected
  tests/data/manifest/invalid/fail_04_missing_id_mimeType_ldjson_instance.expected
  tests/data/manifest/invalid/fail_05_wrong_mimeType_instance.expected
  tests/data/manifest/invalid/fail_06_wrong_cid_instance.expected
  tests/data/survey/valid/survey-result-data-offering_instance.json
Due: black, isort, flake8, jsonld-lint

fix tests
  src/tools/utils/print_formatter.py
  src/tools/utils/registry_updater.py
  tests/data/automotive-simulator/valid/automotive-simulator_instance.json
  tests/data/manifest/invalid/fail_04_missing_id_mimeType_ldjson_instance.expected
  tests/data/openlabel/invalid/fail01_wrong_value_openlabel_instance.expected
Due: black, isort, flake8, jsonld-lint

Refactor for pytesting
  pyproject.toml
  src/tools/core/__init__.py
  src/tools/core/constants.py
  src/tools/core/result.py
  src/tools/utils/__init__.py
  src/tools/utils/file_collector.py
  src/tools/utils/graph_loader.py
  src/tools/utils/registry_resolver.py
  src/tools/validators/coherence_validator.py
  src/tools/validators/conformance_validator.py
  src/tools/validators/shacl/graph_loader.py
  src/tools/validators/syntax_validator.py
  src/tools/validators/validate_artifact_coherence.py
  src/tools/validators/validate_data_conformance.py
  src/tools/validators/validation_suite.py
  src/tools/validators/verify_json_syntax.py
  src/tools/validators/verify_turtle_syntax.py
  tests/conftest.py
  tests/integration/__init__.py
  tests/unit/__init__.py
  tests/unit/utils/__init__.py
  tests/unit/utils/test_file_collector.py
  tests/unit/validators/__init__.py
  tests/unit/validators/shacl/__init__.py
Due: black, isort, flake8

add agent instructions
  .github/copilot-instructions.md
  .github/cspell.json
  .github/instructions/architecture.md
  .github/instructions/coding-standards.md
  .github/instructions/glossary.md
  .github/instructions/testing.md
  .github/instructions/validation-workflow.md
  .pre-commit-config.yaml
  LICENSE
  README.md
  artifacts/catalog-v001.xml
  config/ontoenv.toml
  docs/getting-started/install-test-build.md
  docs/registry.json
  imports/catalog-v001.xml
  src/tools/core/__init__.py
  src/tools/core/iri_utils.py
  src/tools/core/logging.py
  src/tools/utils/graph_loader.py
  src/tools/utils/print_formatter.py
  src/tools/utils/registry_updater.py
  src/tools/validators/coherence_validator.py
  src/tools/validators/shacl/inference.py
  src/tools/validators/shacl/validator.py
  src/tools/validators/validation_suite.py
  tests/catalog-v001.xml
  tests/unit/core/test_iri_utils.py
  tests/unit/core/test_logging.py
  tests/unit/validators/test_coherence_validator.py
Due: black, isort, flake8, jsonld-lint

fix: only write files when content changed
  src/tools/utils/registry_updater.py
Due: black, isort, flake8

fix: normalize line endings for cross-platform compatibility
  src/tools/utils/registry_updater.py
Due: black, isort, flake8

fix: use POSIX paths in registry.json and ontoenv.toml
  config/ontoenv.toml
  docs/registry.json
  src/tools/utils/registry_updater.py
Due: black, isort, flake8, jsonld-lint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  jsonld-lint: any of: \.json$ and \.json$
  turtle-lint: any of: \.(ttl)$
