Repository GAIA-X4PLC-AAD/ontology-management-base: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, jsonld-lint, turtle-lint

black:
  name: black
  entry: black
  language: system
  args:
  - --config=pyproject.toml
  pass_filenames: true

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --settings=pyproject.toml
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8
  pass_filenames: true

jsonld-lint:
  name: JSON-LD Linter
  entry: python src/jsonld_lint.py
  language: system

turtle-lint:
  name: Turtle Linter
  entry: python src/turtle_lint.py
  language: system

fixed environment-model ontology
  environment-model/environment-model_ontology.ttl
  src/utils/print_formatting.py
Due: black, isort, flake8, turtle-lint

ALL FIXED
  envited-x/tests/fail_01_missing_has_content_instance.expected
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.expected
  gx/gx_instance.json
  gx/gx_shacl.ttl
  manifest/tests/fail_01_missing_license_instance.expected
  manifest/tests/fail_02_missing_manifest_instance.expected
  manifest/tests/fail_03_wrong_spdx_identifier_instance.expected
  manifest/tests/fail_04_missing_id_mimeType_ldjson_instance.expected
  manifest/tests/fail_05_wrong_mimeType_instance.expected
  manifest/tests/fail_06_wrong_cid_instance.expected
  scenario/manifest_reference.json
  scenario/scenario_ontology.ttl
  src/check_jsonld_against_shacl_schema.py
  src/run_all_checks_locally.py
  src/utils/print_formatting.py
Due: black, isort, flake8, jsonld-lint, turtle-lint

pretty paths
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8

fix CI
  src/check_target_classes_against_owl_classes.py
Due: black, isort, flake8

remove sh:ignoredProperties ( rdf:type owl:sameAs )
  georeference/georeference_shacl.ttl
Due: turtle-lint

remove sh:ignoredProperties ( rdf:type )
  environment-model/environment-model_shacl.ttl
  envited-x/envited-x_shacl.ttl
  general/general_shacl.ttl
  gx/gx_shacl.ttl
  hdmap/hdmap_shacl.ttl
  manifest/manifest_shacl.ttl
  ositrace/ositrace_shacl.ttl
  scenario/scenario_shacl.ttl
  simulation-model/simulation-model_shacl.ttl
  surface-model/surface-model_shacl.ttl
  tzip21/tzip21_shacl.ttl
Due: turtle-lint

Rework Manifest linking validation
  environment-model/environment-model_ontology.ttl
  environment-model/environment-model_shacl.ttl
  envited-x/envited-x_inline_instance.json
  envited-x/envited-x_ontology.ttl
  envited-x/envited-x_shacl.ttl
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.expected
  hdmap/hdmap_ontology.ttl
  hdmap/hdmap_shacl.ttl
  ositrace/ositrace_ontology.ttl
  ositrace/ositrace_shacl.ttl
  requirements.txt
  scenario/scenario_ontology.ttl
  scenario/scenario_shacl.ttl
  src/run_all_checks_locally.py
  surface-model/surface-model_ontology.ttl
  surface-model/surface-model_shacl.ttl
Due: black, isort, flake8, jsonld-lint, turtle-lint

Add PROPERTIES.md files
  envited-x/PROPERTIES.md
  ositrace/PROPERTIES.md
  surface-model/PROPERTIES.md
Due: none

Add PROPERTIES.md files
  environment-model/PROPERTIES.md
  envited-x/PROPERTIES.md
  georeference/PROPERTIES.md
  hdmap/PROPERTIES.md
  ositrace/PROPERTIES.md
  scenario/PROPERTIES.md
  surface-model/PROPERTIES.md
Due: none

Add PROPERTIES.md files
  envited-x/PROPERTIES.md
  gx/PROPERTIES.md
  manifest/PROPERTIES.md
Due: none

Upgrade gx to 25.11: Part 2
  gx/README.md
  gx/gx_data_resource_instance.json
  gx/gx_instance.json
  gx/gx_legal_person_instance.json
  gx/gx_shacl.ttl
  gx/registry_placeholder_instance.json
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8, jsonld-lint, turtle-lint

Add PROPERTIES.md files
  envited-x/PROPERTIES.md
  manifest/PROPERTIES.md
Due: none

WIP GaiaX Compliance 2
  base-references/environment-model_manifest_reference.json
  base-references/envited-x_legalperson_reference.json
  base-references/envited-x_manifest_reference.json
  base-references/gx_legalperson_reference.json
  base-references/hdmap_manifest_reference.json
  base-references/ositrace_manifest_reference.json
  base-references/scenario_manifest_reference.json
  base-references/surface-model_manifest_reference.json
Due: jsonld-lint

introduce base-references folder
  base-references/README.md
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8

WIPPPP
  base-references/environment-model_manifest_reference.json
  base-references/envited-x_legalperson_reference.json
  base-references/envited-x_manifest_reference.json
  base-references/gx_legalperson_reference.json
  base-references/hdmap_manifest_reference.json
  base-references/ositrace_manifest_reference.json
  base-references/scenario_manifest_reference.json
  base-references/surface-model_manifest_reference.json
  environment-model/environment-model_instance.json
  envited-x/tests/fail_01_missing_has_content_instance.json
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.json
  gx/gx_data_resource_instance.json
  hdmap/hdmap_instance.json
  ositrace/ositrace_instance.json
  requirements.txt
  scenario/scenario_instance.json
  src/check_jsonld_against_shacl_schema.py
  surface-model/surface-model_instance.json
Due: black, isort, flake8, jsonld-lint

very close
  .gitignore
  envited-x/tests/fail_01_missing_has_content_instance.expected
  envited-x/tests/fail_01_missing_has_content_instance.json
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.expected
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.json
  manifest/tests/fail_01_missing_license_instance.expected
  manifest/tests/fail_01_missing_license_instance.json
  manifest/tests/fail_02_missing_manifest_instance.expected
  manifest/tests/fail_02_missing_manifest_instance.json
  requirements.txt
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8, jsonld-lint

WIP
  manifest/tests/fail_02_missing_manifest_instance.expected
  manifest/tests/fail_03_wrong_category_instance.expected
  manifest/tests/fail_03_wrong_category_instance.json
  manifest/tests/fail_04_missing_id_mimeType_ldjson_instance.expected
  manifest/tests/fail_04_missing_id_mimeType_ldjson_instance.json
  manifest/tests/fail_05_wrong_mimeType_instance.json
  manifest/tests/fail_06_wrong_cid_instance.json
  src/check_jsonld_against_shacl_schema.py
  src/utils/print_formatting.py
Due: black, isort, flake8, jsonld-lint

Add PROPERTIES.md files
  automotive-simulator/PROPERTIES.md
  envited-x/PROPERTIES.md
  general/PROPERTIES.md
  georeference/PROPERTIES.md
  leakage-test/PROPERTIES.md
  ositrace/PROPERTIES.md
  scenario/PROPERTIES.md
  simulated-sensor/PROPERTIES.md
  simulation-model/PROPERTIES.md
  survey/PROPERTIES.md
  vv-report/PROPERTIES.md
Due: none

GaiaX Upgrade complete
  automotive-simulator/automotive-simulator_instance.json
  base-references/gx_dataexchangecomponent_reference.json
  base-references/scenario_manifest_reference.json
  environment-model/environment-model_instance.json
  envited-x/envited-x_inline_instance.json
  envited-x/envited-x_instance.json
  envited-x/envited-x_ontology.ttl
  envited-x/envited-x_shacl.ttl
  envited-x/tests/fail_01_missing_has_content_instance.json
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.json
  gx/gx_data_resource_instance.json
  hdmap/hdmap_instance.json
  hdmap/hdmap_shacl.ttl
  leakage-test/leakage-test_instance.json
  ositrace/ositrace_instance.json
  scenario/scenario_instance.json
  scenario/scenario_ontology.ttl
  scenario/scenario_shacl.ttl
  simulated-sensor/simulated-sensor_instance.json
  simulation-model/simulation-model_instance.json
  surface-model/surface-model_instance.json
  survey/survey-result-data-offering_instance.json
  survey/survey-service-offering_instance.json
  vv-report/vv-report_instance.json
Due: jsonld-lint, turtle-lint

Add PROPERTIES.md files
  hdmap/PROPERTIES.md
  scenario/PROPERTIES.md
Due: none

fix: ci and service example
  .github/workflows/branch-push.yml
  service/service_instance.json
  service/service_shacl.ttl
Due: jsonld-lint, turtle-lint

fix tzip21, add manifest.Link for envited-x:DataResource in ontologies
  environment-model/environment-model_ontology.ttl
  envited-x/envited-x_ontology.ttl
  hdmap/hdmap_ontology.ttl
  ositrace/ositrace_ontology.ttl
  scenario/scenario_ontology.ttl
  surface-model/surface-model_ontology.ttl
  tzip21/tzip21_instance.json
Due: jsonld-lint, turtle-lint

try fix scenario
  hdmap/hdmap_shacl.ttl
  scenario/scenario_instance.json
  scenario/scenario_shacl.ttl
Due: jsonld-lint, turtle-lint

try fix scenario 2
  scenario/scenario_shacl.ttl
Due: turtle-lint

try fix openlabel test cases
  automotive-simulator/automotive-simulator_ontology.ttl
  base-ontologies/schema/schema_ontology.ttl
  environment-model/environment-model_instance.json
  envited-x/envited-x_instance.json
  envited-x/tests/fail_01_missing_has_content_instance.json
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.expected
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.json
  example/description_instance.json
  example/description_shacl.ttl
  example/example_instance.json
  example/example_shacl.ttl
  hdmap/README.md
  hdmap/hdmap_instance.json
  hdmap/tests/fail01_false_value_hdmap_instance.json
  openlabel/openlabel_instance.json
  openlabel/openlabel_shacl.ttl
  openlabel/tests/fail01_wrong_value_openlabel_instance.json
  ositrace/ositrace_instance.json
  scenario/README.md
  scenario/scenario_instance.json
  scenario/scenario_ontology.ttl
  scenario/scenario_shacl.ttl
  scenario/tests/fail01_false_value_scenario_instance.json
  simulated-sensor/simulated-sensor_ontology.ttl
  surface-model/surface-model_instance.json
Due: jsonld-lint, turtle-lint

Add PROPERTIES.md files
  openlabel/PROPERTIES.md
Due: none

fix tests
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.expected
  gx/gx_context.jsonld
  hdmap/hdmap_ontology.ttl
  hdmap/hdmap_shacl.ttl
  hdmap/tests/fail01_false_value_hdmap_instance.expected
  hdmap/tests/fail01_false_value_hdmap_instance.json
  openlabel/openlabel_instance.json
  openlabel/tests/fail01_wrong_value_openlabel_instance.expected
  openlabel/tests/fail01_wrong_value_openlabel_instance.json
  scenario/scenario_instance.json
  scenario/scenario_ontology.ttl
  scenario/scenario_shacl.ttl
  scenario/tests/fail01_false_value_scenario_instance.expected
  scenario/tests/fail01_false_value_scenario_instance.json
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8, jsonld-lint, turtle-lint

fix target class check
  .github/workflows/branch-push.yml
  src/check_target_classes_against_owl_classes.py
  src/run_all_checks_locally.py
Due: black, isort, flake8

Openlabel integration (#165)
  .github/workflows/branch-push.yml
  CODEOWNERS
  README.md
  automotive-simulator/automotive-simulator_ontology.ttl
  base-ontologies/schema/schema_ontology.ttl
  environment-model/environment-model_instance.json
  envited-x/envited-x_instance.json
  envited-x/tests/fail_01_missing_has_content_instance.json
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.expected
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.json
  example/description_instance.json
  example/description_shacl.ttl
  example/example_instance.json
  example/example_shacl.ttl
  gx/gx_context.jsonld
  hdmap/PROPERTIES.md
  hdmap/README.md
  hdmap/hdmap_instance.json
  hdmap/hdmap_ontology.ttl
  hdmap/hdmap_shacl.ttl
  hdmap/tests/fail01_false_value_hdmap_instance.expected
  hdmap/tests/fail01_false_value_hdmap_instance.json
  openlabel/PROPERTIES.md
  openlabel/README.md
  openlabel/openlabel_instance.json
  openlabel/openlabel_ontology.ttl
  openlabel/openlabel_shacl.ttl
  openlabel/tests/fail01_wrong_value_openlabel_instance.expected
  openlabel/tests/fail01_wrong_value_openlabel_instance.json
  ositrace/ositrace_instance.json
  scenario/PROPERTIES.md
  scenario/README.md
  scenario/scenario_ontology.ttl
  scenario/scenario_shacl.ttl
  scenario/tests/fail01_false_value_scenario_instance.expected
  scenario/tests/fail01_false_value_scenario_instance.json
  simulated-sensor/simulated-sensor_ontology.ttl
  src/check_jsonld_against_shacl_schema.py
  src/check_target_classes_against_owl_classes.py
  src/run_all_checks_locally.py
Due: black, isort, flake8, jsonld-lint, turtle-lint

Add PROPERTIES.md files
  gx/PROPERTIES.md
Due: none

chore: Enforce Linux line endings to fix WSL2/sed issues
  .github/workflows/branch-push.yml
  .github/workflows/manual_upload_to_fc.yml
  gx/PROPERTIES.md
  gx/gx_shacl.ttl
  service/service_ontology.ttl
  service/service_shacl.ttl
  src/authhelper/keycloakhandling.py
  src/fc_upload.py
  src/readme_generator.py
  vv-report/vv-report_instance.json
  vv-report/vv-report_ontology.ttl
  vv-report/vv-report_shacl.ttl
Due: black, isort, flake8, jsonld-lint, turtle-lint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  jsonld-lint: any of: \.json$ and \.json$
  turtle-lint: any of: \.(ttl)$
