Repository GAIA-X4PLC-AAD/ontology-management-base: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, jsonld-lint, turtle-lint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: ["--config=pyproject.toml"]
        pass_filenames: true

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        args: ["--settings=pyproject.toml"]
        pass_filenames: true

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        args: ["--config=.flake8"]
        pass_filenames: true

      - id: jsonld-lint
        name: JSON-LD Linter
        entry: python src/jsonld_lint.py
        language: system
        types: [json]
        files: \.json$

      - id: turtle-lint
        name: Turtle Linter
        entry: python src/turtle_lint.py
        language: system
        types: [text]
        files: \.(ttl)$

Add PROPERTIES.md files
  envited-x/PROPERTIES.md
Due: none

fix pre-commit run --all-files, fix typo in class Quantity
  README.md
  environment-model/environment-model_ontology.ttl
  hdmap/hdmap_ontology.ttl
  ositrace/ositrace_ontology.ttl
  src/check_jsonld_against_shacl_schema.py
  src/fc_upload_with_update.py
  src/readme_generator.py
Due: black, isort, flake8, turtle-lint

fix stuff
  .github/workflows/branch-push.yml
  .github/workflows/linter.yml
  .github/workflows/manual_upload_to_fc.yml
  README.md
  environment-model/environment-model_shacl.ttl
  envited-x/envited-x_ontology.ttl
  envited-x/envited-x_shacl.ttl
  hdmap/hdmap_shacl.ttl
  manifest/manifest_shacl.ttl
  ositrace/ositrace_shacl.ttl
  requirements.txt
  requirements_fc.txt
  scenario/manifest_reference.json
  scenario/scenario_shacl.ttl
  src/check_jsonld_against_shacl_schema.py
  src/check_target_classes_against_owl_classes.py
  src/check_ttl_syntax.py
  src/fc_upload_with_update.py
  src/run_all_checks_locally.py
  surface-model/surface-model_ontology.ttl
  surface-model/surface-model_shacl.ttl
Due: black, isort, flake8, jsonld-lint, turtle-lint

Add PROPERTIES.md files
  envited-x/PROPERTIES.md
  scenario/PROPERTIES.md
Due: none

fix stuff
  envited-x/envited-x_shacl.ttl
  manifest/tests/fail_missing_license_instance.expected
  scenario/manifest_reference.json
  scenario/scenario_shacl.ttl
  src/run_all_checks_locally.py
Due: black, isort, flake8, jsonld-lint, turtle-lint

Remove hasMovingObject from ositrace and fix example
  ositrace/ositrace_instance.json
  ositrace/ositrace_ontology.ttl
  ositrace/ositrace_shacl.ttl
Due: jsonld-lint, turtle-lint

Add PROPERTIES.md files
  envited-x/PROPERTIES.md
  ositrace/PROPERTIES.md
Due: none

fix events and movingObjects
  ositrace/ositrace_instance.json
  ositrace/ositrace_ontology.ttl
  ositrace/ositrace_shacl.ttl
  src/check_jsonld_against_shacl_schema.py
  src/check_target_classes_against_owl_classes.py
  src/check_ttl_syntax.py
  src/jsonld_lint.py
  src/run_all_checks_locally.py
  src/turtle_lint.py
Due: black, isort, flake8, jsonld-lint, turtle-lint

fix run_all_checks_locally for windows
  src/check_jsonld_against_shacl_schema.py
  src/check_target_classes_against_owl_classes.py
  src/check_ttl_syntax.py
  src/run_all_checks_locally.py
Due: black, isort, flake8

fix min/max cardinalities, verion numbers, bug in surface model
  environment-model/environment-model_ontology.ttl
  hdmap/hdmap_ontology.ttl
  ositrace/PROPERTIES.md
  ositrace/ositrace_instance.json
  ositrace/ositrace_ontology.ttl
  ositrace/ositrace_shacl.ttl
  scenario/scenario_ontology.ttl
  surface-model/PROPERTIES.md
  surface-model/surface-model_instance.json
  surface-model/surface-model_ontology.ttl
  surface-model/surface-model_shacl.ttl
Due: jsonld-lint, turtle-lint

Add PROPERTIES.md files
  envited-x/PROPERTIES.md
  surface-model/PROPERTIES.md
Due: none

remove string class from sh:in literals
  hdmap/hdmap_shacl.ttl
Due: turtle-lint

Add PROPERTIES.md files
  envited-x/PROPERTIES.md
  hdmap/PROPERTIES.md
Due: none

fix link
  ositrace/PROPERTIES.md
Due: none

Change hasMovingObject to hasTargetMovingObject, fix comments in ontology objects
  ositrace/ositrace_instance.json
  ositrace/ositrace_ontology.ttl
  ositrace/ositrace_shacl.ttl
Due: jsonld-lint, turtle-lint

Fix movingobject properties to be singular
  ositrace/ositrace_instance.json
  ositrace/ositrace_ontology.ttl
  ositrace/ositrace_shacl.ttl
Due: jsonld-lint, turtle-lint

Fix inconsistency between ositrace shacl and ontology
  ositrace/ositrace_shacl.ttl
Due: turtle-lint

fix check_jsondld_against_shacl_schema
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8

release/v0.0.4 (#148)
  environment-model/environment-model_ontology.ttl
  envited-x/PROPERTIES.md
  hdmap/PROPERTIES.md
  hdmap/hdmap_ontology.ttl
  hdmap/hdmap_shacl.ttl
  ositrace/PROPERTIES.md
  ositrace/ositrace_instance.json
  ositrace/ositrace_ontology.ttl
  ositrace/ositrace_shacl.ttl
  scenario/scenario_ontology.ttl
  src/check_jsonld_against_shacl_schema.py
  src/check_target_classes_against_owl_classes.py
  src/check_ttl_syntax.py
  src/jsonld_lint.py
  src/run_all_checks_locally.py
  src/turtle_lint.py
  surface-model/PROPERTIES.md
  surface-model/surface-model_instance.json
  surface-model/surface-model_ontology.ttl
  surface-model/surface-model_shacl.ttl
Due: black, isort, flake8, jsonld-lint, turtle-lint

Update README.md in Manifest Ontology
  manifest/README.md
Due: none

fix readme and move to envited-x ontology
  envited-x/README.md
  manifest/README.md
  scenario/scenario_shacl.ttl
Due: turtle-lint

Minor improvements (#152)
  envited-x/PROPERTIES.md
  envited-x/README.md
  manifest/README.md
  scenario/scenario_shacl.ttl
Due: turtle-lint

added ParameterShape
  vv-report/vv-report_instance.json
  vv-report/vv-report_ontology.ttl
  vv-report/vv-report_shacl.ttl
Due: jsonld-lint, turtle-lint
