Repository GAIA-X4PLC-AAD/ontology-management-base: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, jsonld-lint, turtle-lint

black:
  name: black
  entry: black
  language: system
  args:
  - --config=pyproject.toml
  pass_filenames: true

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --settings=pyproject.toml
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8
  pass_filenames: true

jsonld-lint:
  name: JSON-LD Linter
  entry: python src/jsonld_lint.py
  language: system

turtle-lint:
  name: Turtle Linter
  entry: python src/turtle_lint.py
  language: system

Add PROPERTIES.md files
  envited-x/PROPERTIES.md
  vv-report/PROPERTIES.md
Due: none

fixed xsd:datatype multiple selection
  vv-report/vv-report_shacl.ttl
Due: turtle-lint

add base-schemas, add tzip21 ontology, replace version specific reference with agnostic
  manifest/manifest_ontology.ttl
  src/base-schemas/dcterms_shacl.ttl
  src/base-schemas/foaf_shacl.ttl
  src/base-schemas/openlabel_shacl.ttl
  src/base-schemas/org_shacl.ttl
  src/base-schemas/owl_shacl.ttl
  src/base-schemas/prov_shacl.ttl
  src/base-schemas/rdf_shacl.ttl
  src/base-schemas/rdfs_shacl.ttl
  src/base-schemas/sh_shacl.ttl
  src/base-schemas/skos_shacl.ttl
  src/base-schemas/xsd_shacl.ttl
  src/check_jsonld_against_shacl_schema.py
  surface-model/surface-model_ontology.ttl
  tzip21/tzip21_instance.json
  tzip21/tzip21_ontology.ttl
  tzip21/tzip21_shacl.ttl
Due: black, isort, flake8, jsonld-lint, turtle-lint

Add PROPERTIES.md files
  envited-x/PROPERTIES.md
  tzip21/PROPERTIES.md
Due: none

tzip21: validates
  src/check_jsonld_against_shacl_schema.py
  tzip21/tzip21_shacl.ttl
Due: black, isort, flake8, turtle-lint

Add PROPERTIES.md files
  envited-x/PROPERTIES.md
Due: none

Add test for manifest mimeType
  manifest/manifest_instance.json
  manifest/tests/fail_missing_id_mimeType_ldjson_instance.expected
  manifest/tests/fail_missing_id_mimeType_ldjson_instance.json
  src/base-schemas/openlabel_ontology.ttl
Due: jsonld-lint, turtle-lint

Update check_jsonld_against_shacl_schema.py
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8

refine manifest ontology
  environment-model/environment-model_instance.json
  environment-model/environment-model_ontology.ttl
  environment-model/environment-model_shacl.ttl
  environment-model/manifest_reference.json
  envited-x/PROPERTIES.md
  envited-x/README.md
  envited-x/envited-x_instance.json
  envited-x/envited-x_ontology.ttl
  envited-x/envited-x_shacl.ttl
  envited-x/manifest_reference.json
  hdmap/hdmap_instance.json
  hdmap/hdmap_ontology.ttl
  hdmap/hdmap_shacl.ttl
  hdmap/manifest_reference.json
  manifest/PROPERTIES.md
  manifest/manifest_instance.json
  manifest/manifest_ontology.ttl
  manifest/manifest_shacl.ttl
  manifest/tests/fail_missing_license_instance.json
  ositrace/manifest_reference.json
  ositrace/ositrace_instance.json
  ositrace/ositrace_ontology.ttl
  ositrace/ositrace_shacl.ttl
  scenario/PROPERTIES.md
  scenario/manifest_reference.json
  scenario/scenario_instance.json
  scenario/scenario_ontology.ttl
  scenario/scenario_shacl.ttl
  surface-model/manifest_reference.json
  surface-model/surface-model_instance.json
  surface-model/surface-model_ontology.ttl
  surface-model/surface-model_shacl.ttl
Due: jsonld-lint, turtle-lint

Add PROPERTIES.md files
  envited-x/PROPERTIES.md
  manifest/PROPERTIES.md
  scenario/PROPERTIES.md
Due: none

increase test coverage manifest
  manifest/manifest_instance.json
  manifest/tests/fail_01_missing_license_instance.expected
  manifest/tests/fail_01_missing_license_instance.json
  manifest/tests/fail_02_missing_manifest_instance.expected
  manifest/tests/fail_02_missing_manifest_instance.json
  manifest/tests/fail_03_wrong_spdx_identifier_instance.expected
  manifest/tests/fail_03_wrong_spdx_identifier_instance.json
  manifest/tests/fail_04_missing_id_mimeType_ldjson_instance.expected
  manifest/tests/fail_04_missing_id_mimeType_ldjson_instance.json
  manifest/tests/fail_05_wrong_mimeType_instance.expected
  manifest/tests/fail_05_wrong_mimeType_instance.json
  manifest/tests/fail_06_wrong_cid_instance.expected
  manifest/tests/fail_06_wrong_cid_instance.json
  manifest/tests/fail_missing_id_mimeType_ldjson_instance.expected
  src/check_jsonld_against_shacl_schema.py
  src/run_all_checks_locally.py
Due: black, isort, flake8, jsonld-lint

fix black
  src/check_jsonld_against_shacl_schema.py
  src/run_all_checks_locally.py
Due: black, isort, flake8

149 vv report add user parameters (#153)
  envited-x/PROPERTIES.md
  vv-report/PROPERTIES.md
  vv-report/vv-report_instance.json
  vv-report/vv-report_ontology.ttl
  vv-report/vv-report_shacl.ttl
Due: jsonld-lint, turtle-lint

refine manifest ontology (#159)
  environment-model/environment-model_instance.json
  environment-model/environment-model_ontology.ttl
  environment-model/environment-model_shacl.ttl
  environment-model/manifest_reference.json
  envited-x/PROPERTIES.md
  envited-x/README.md
  envited-x/envited-x_instance.json
  envited-x/envited-x_ontology.ttl
  envited-x/envited-x_shacl.ttl
  envited-x/manifest_reference.json
  hdmap/hdmap_instance.json
  hdmap/hdmap_ontology.ttl
  hdmap/hdmap_shacl.ttl
  hdmap/manifest_reference.json
  manifest/PROPERTIES.md
  manifest/manifest_instance.json
  manifest/manifest_ontology.ttl
  manifest/manifest_shacl.ttl
  manifest/tests/fail_missing_license_instance.json
  ositrace/manifest_reference.json
  ositrace/ositrace_instance.json
  ositrace/ositrace_ontology.ttl
  ositrace/ositrace_shacl.ttl
  scenario/PROPERTIES.md
  scenario/manifest_reference.json
  scenario/scenario_instance.json
  scenario/scenario_ontology.ttl
  scenario/scenario_shacl.ttl
  surface-model/manifest_reference.json
  surface-model/surface-model_instance.json
  surface-model/surface-model_ontology.ttl
  surface-model/surface-model_shacl.ttl
Due: jsonld-lint, turtle-lint

fix: replace hasExternalArtifacts with hasReferencedArtifacts
  envited-x/PROPERTIES.md
  envited-x/envited-x_shacl.ttl
  manifest/PROPERTIES.md
  manifest/manifest_ontology.ttl
  manifest/manifest_shacl.ttl
  scenario/PROPERTIES.md
  scenario/scenario_ontology.ttl
  scenario/scenario_shacl.ttl
Due: turtle-lint

Fix: hasExternalArtifacts to hasReferencedArtifacts (#162)
  envited-x/PROPERTIES.md
  envited-x/envited-x_shacl.ttl
  manifest/PROPERTIES.md
  manifest/manifest_ontology.ttl
  manifest/manifest_shacl.ttl
  scenario/PROPERTIES.md
  scenario/scenario_ontology.ttl
  scenario/scenario_shacl.ttl
Due: turtle-lint

bumb manifest version in context
  scenario/manifest_reference.json
Due: jsonld-lint

move folder and rename files
  base-schemas/dcterms_ontology.ttl
  base-schemas/foaf_ontology.ttl
  base-schemas/openlabel_ontology.ttl
  base-schemas/org_ontology.ttl
  base-schemas/owl_ontology.ttl
  base-schemas/prov_ontology.ttl
  base-schemas/rdf_ontology.ttl
  base-schemas/rdfs_ontology.ttl
  base-schemas/sh_ontology.ttl
  base-schemas/skos_ontology.ttl
  base-schemas/xsd_converted_ontology.ttl
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8, turtle-lint

exclude base-schemas for run_all_tests
  src/run_all_checks_locally.py
Due: black, isort, flake8

add name for ExtendedLinkShape properties; add max count for ManifestShape properties
  envited-x/envited-x_shacl.ttl
Due: turtle-lint

Update envited-x_shacl.ttl
  envited-x/envited-x_shacl.ttl
Due: turtle-lint

allowing multiple DataResources
  envited-x/envited-x_shacl.ttl
Due: turtle-lint

with conversion asset extractor unnecessary, as name is already defined in main class
  envited-x/envited-x_shacl.ttl
Due: turtle-lint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  jsonld-lint: any of: \.json$ and \.json$
  turtle-lint: any of: \.(ttl)$
