Repository GAIA-X4PLC-AAD/ontology-management-base: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, jsonld-lint, turtle-lint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: ["--config=pyproject.toml"]
        pass_filenames: true

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        args: ["--settings=pyproject.toml"]
        pass_filenames: true

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        args: ["--config=.flake8"]
        pass_filenames: true

      - id: jsonld-lint
        name: JSON-LD Linter
        entry: python src/jsonld_lint.py
        language: system
        types: [json]
        files: \.json$

      - id: turtle-lint
        name: Turtle Linter
        entry: python src/turtle_lint.py
        language: system
        types: [text]
        files: \.(ttl)$

FEAT: Integrate OpenLABEL into hdmap_ontology
  hdmap/hdmap_ontology.ttl
Due: turtle-lint

FEAT: extend `hdmap:hasContent` constraint to support OpenLABEL Odd + flag booleans
  hdmap/hdmap_shacl.ttl
Due: turtle-lint

FEAT: add OpenLABEL ontology
  gx/PROPERTIES.md
  gx/README.md
  gx/gx_instance.json
  gx/gx_ontology.ttl
  gx/gx_shacl.ttl
  gx/input/01_original/gx_ontology.json
  gx/input/01_original/gx_shacl.json
  gx/input/02_corrected/gx_ontology.json
  gx/input/02_corrected/gx_shacl.json
  gx/src/jsonldtottlconverter.py
  hdmap/readme.md
  hdmap/tests/fail_false_value_hdmap_instance.expected
  hdmap/tests/fail_false_value_hdmap_instance.json
  openlabel/openlabel_instance.json
  openlabel/openlabel_ontology_scenario_tags.ttl
  openlabel/openlabel_shacl.ttl
Due: black, isort, flake8, jsonld-lint, turtle-lint

FEAT: Update Scenario Ontology and SHACL Shapes to Integrate OpenLABEL Tags and Boolean Content
  hdmap/readme.md
  scenario/readme.md
  scenario/scenario_ontology.ttl
  scenario/scenario_shacl.ttl
  scenario/tests/fail_false_value_scenario_instance.expected
  scenario/tests/fail_false_value_scenario_instance.json
Due: jsonld-lint, turtle-lint

Feat: Add README.md for the `openlabel` folder and integrate tests for SHACL validation
  openlabel/readme.md
  openlabel/tests/fail_wrong_value_openlabel_instance.expected
  openlabel/tests/fail_wrong_value_openlabel_instance.json
Due: jsonld-lint

Add PROPERTIES.md files
  envited-x/PROPERTIES.md
  hdmap/PROPERTIES.md
  openlabel/PROPERTIES.md
  scenario/PROPERTIES.md
Due: none

Doc: Update CODEOWNERS file with openlabel authors Author: Nicolas Rojas Bernal
  CODEOWNERS
Due: none

DOC(readme): add end-user oriented README files for HDMap, Scenario, and OpenLABEL
  hdmap/README.md
  hdmap/readme.md
  openlabel/README.md
  openlabel/readme.md
  scenario/README.md
  scenario/readme.md
Due: none

Add PROPERTIES.md files
  envited-x/PROPERTIES.md
Due: none

docs: update README files with licensing, citation, and unified test instructions
  README.md
  envited-x/PROPERTIES.md
  hdmap/README.md
  openlabel/README.md
  scenario/README.md
Due: none

try to resolve merge conflicts
  base-ontologies/README.md
  base-ontologies/dcterms/dcterms_ontology.ttl
  base-ontologies/foaf/foaf_ontology.ttl
  base-ontologies/org/org_ontology.ttl
  base-ontologies/owl/owl_ontology.ttl
  base-ontologies/prov/prov_ontology.ttl
  base-ontologies/rdf/rdf_ontology.ttl
  base-ontologies/rdfs/rdfs_ontology.ttl
  base-ontologies/sh/sh_ontology.ttl
  base-ontologies/skos/skos_ontology.ttl
  base-ontologies/xsd/xsd_ontology.ttl
  openlabel/README.md
  openlabel/openlabel_ontology.ttl
  scenario/manifest_reference.json
  scenario/scenario_instance.json
  scenario/scenario_ontology.ttl
  scenario/scenario_shacl.ttl
Due: jsonld-lint, turtle-lint

fix file name
  src/check_jsonld_against_shacl_schema.py
  src/run_all_checks_locally.py
Due: black, isort, flake8

remove openlabel because of PR165
  openlabel/README.md
  openlabel/openlabel_ontology.ttl
Due: turtle-lint

clarify comment in envited-x shacle
  envited-x/envited-x_shacl.ttl
Due: turtle-lint

include fixes from #163
  envited-x/envited-x_shacl.ttl
Due: turtle-lint

add tests for envited-x
  envited-x/envited-x_shacl.ttl
  envited-x/tests/fail_01_missing_has_content_instance.expected
  envited-x/tests/fail_01_missing_has_content_instance.json
Due: jsonld-lint, turtle-lint

try fix run all tests
  src/check_jsonld_against_shacl_schema.py
  src/check_target_classes_against_owl_classes.py
  src/check_ttl_syntax.py
  src/run_all_checks_locally.py
Due: black, isort, flake8

try fix tests. Validation not deterministic!
  envited-x/tests/fail_01_missing_has_content_instance.expected
  manifest/tests/fail_01_missing_license_instance.expected
  manifest/tests/fail_02_missing_manifest_instance.expected
  manifest/tests/fail_02_missing_manifest_instance.json
  manifest/tests/fail_03_wrong_spdx_identifier_instance.expected
  manifest/tests/fail_04_missing_id_mimeType_ldjson_instance.expected
  manifest/tests/fail_05_wrong_mimeType_instance.expected
  manifest/tests/fail_06_wrong_cid_instance.expected
  src/run_all_checks_locally.py
Due: black, isort, flake8, jsonld-lint

WIP
  automotive-simulator/automotive-simulator_ontology.ttl
  example/PROPERTIES.md
  example/description_instance.json
  example/description_ontology.ttl
  example/description_shacl.ttl
  example/example_instance.json
  example/example_ontology.ttl
  example/example_shacl.ttl
  georeference/georeference_instance.json
  georeference/georeference_shacl.ttl
  hdmap/hdmap_instance.json
  ositrace/ositrace_instance.json
  requirements.txt
  scenario/scenario_instance.json
  scenario/scenario_ontology.ttl
  simulated-sensor/simulated-sensor_ontology.ttl
  src/check_jsonld_against_shacl_schema.py
  src/check_target_classes_against_owl_classes.py
  src/run_all_checks_locally.py
  src/utils/print_formatting.py
  surface-model/surface-model_instance.json
Due: black, isort, flake8, jsonld-lint, turtle-lint

Add PROPERTIES.md files
  example/PROPERTIES.md
  georeference/PROPERTIES.md
Due: none

WIP
  .pre-commit-config.yaml
  src/check_jsonld_against_shacl_schema.py
  src/check_ttl_syntax.py
  src/jsonld_lint.py
  src/run_all_checks_locally.py
  src/turtle_lint.py
  src/utils/check_parse_jsonld.py
  src/utils/check_parse_turtle.py
Due: black, isort, flake8

WIP
  .gitignore
  environment-model/manifest_reference.json
  envited-x/manifest_reference.json
  georeference/georeference_shacl.ttl
  hdmap/manifest_reference.json
  manifest/manifest_instance.json
  ositrace/manifest_reference.json
  src/check_jsonld_against_shacl_schema.py
  surface-model/manifest_reference.json
Due: black, isort, flake8, jsonld-lint, turtle-lint

WIP
  automotive-simulator/automotive-simulator_ontology.ttl
  environment-model/environment-model_ontology.ttl
  envited-x/envited-x_ontology.ttl
  envited-x/envited-x_shacl.ttl
  envited-x/tests/fail_01_missing_has_content_instance.expected
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.expected
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.json
  general/general_ontology.ttl
  georeference/georeference_ontology.ttl
  hdmap/hdmap_ontology.ttl
  leakage-test/leakage-test_ontology.ttl
  manifest/manifest_ontology.ttl
  ositrace/ositrace_ontology.ttl
  scenario/manifest_reference.json
  scenario/scenario_ontology.ttl
  scenario/scenario_shacl.ttl
  service/service_ontology.ttl
  simulated-sensor/simulated-sensor_ontology.ttl
  simulation-model/simulation-model_ontology.ttl
  src/run_all_checks_locally.py
  src/utils/check_parse_jsonld.py
  src/utils/check_parse_turtle.py
  surface-model/surface-model_ontology.ttl
  survey/survey_ontology.ttl
  tzip21/tzip21_ontology.ttl
  vv-report/vv-report_ontology.ttl
Due: black, isort, flake8, jsonld-lint, turtle-lint

fix ci
  .github/workflows/branch-push.yml
Due: none

fix ci 2
  .github/workflows/branch-push.yml
Due: none

WIP
  environment-model/environment-model_ontology.ttl
  environment-model/manifest_reference.json
  envited-x/manifest_reference.json
  hdmap/hdmap_ontology.ttl
  hdmap/hdmap_shacl.ttl
  hdmap/manifest_reference.json
  manifest/manifest_instance.json
  manifest/tests/fail_01_missing_license_instance.json
  manifest/tests/fail_02_missing_manifest_instance.json
  manifest/tests/fail_03_wrong_spdx_identifier_instance.json
  manifest/tests/fail_04_missing_id_mimeType_ldjson_instance.json
  manifest/tests/fail_05_wrong_mimeType_instance.json
  manifest/tests/fail_06_wrong_cid_instance.json
  ositrace/manifest_reference.json
  ositrace/ositrace_ontology.ttl
  scenario/scenario_instance.json
  src/check_jsonld_against_shacl_schema.py
  surface-model/manifest_reference.json
  surface-model/surface-model_instance.json
  surface-model/surface-model_ontology.ttl
  tzip21/tzip21_instance.json
  vv-report/vv-report_instance.json
Due: black, isort, flake8, jsonld-lint, turtle-lint

WIP
  environment-model/environment-model_shacl.ttl
  georeference/georeference_shacl.ttl
  hdmap/hdmap_shacl.ttl
  ositrace/ositrace_shacl.ttl
  scenario/scenario_shacl.ttl
  src/check_jsonld_against_shacl_schema.py
  src/utils/print_formatting.py
  surface-model/surface-model_shacl.ttl
  tzip21/tzip21_shacl.ttl
Due: black, isort, flake8, turtle-lint

independent root directory
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8

add check if json not loaded correctly
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8

upgrade requirements
  requirements.txt
Due: none

Improve script to work with credentials
  src/check_jsonld_against_shacl_schema.py
Due: black, isort, flake8

fix print output
  src/check_jsonld_against_shacl_schema.py
  src/utils/print_formatting.py
Due: black, isort, flake8

WIPPPP34343
  environment-model/environment-model_shacl.ttl
  envited-x/tests/fail_01_missing_has_content_instance.expected
  envited-x/tests/fail_02_missing_iri_manifest_link_instance.expected
  manifest/tests/fail_01_missing_license_instance.expected
  manifest/tests/fail_02_missing_manifest_instance.expected
  manifest/tests/fail_03_wrong_spdx_identifier_instance.expected
  manifest/tests/fail_03_wrong_spdx_identifier_instance.json
  manifest/tests/fail_04_missing_id_mimeType_ldjson_instance.expected
  manifest/tests/fail_04_missing_id_mimeType_ldjson_instance.json
  manifest/tests/fail_05_wrong_mimeType_instance.expected
  manifest/tests/fail_05_wrong_mimeType_instance.json
  manifest/tests/fail_06_wrong_cid_instance.expected
  manifest/tests/fail_06_wrong_cid_instance.json
  scenario/manifest_reference.json
  src/check_jsonld_against_shacl_schema.py
  src/run_all_checks_locally.py
  src/utils/print_formatting.py
Due: black, isort, flake8, jsonld-lint, turtle-lint
