Repository GAIA-X4PLC-AAD/ontology-management-base: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, jsonld-lint, turtle-lint, update-registry

black:
  name: black
  entry: black
  language: system
  args:
  - --config=pyproject.toml
  pass_filenames: true

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --settings=pyproject.toml
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8
  pass_filenames: true

jsonld-lint:
  name: JSON-LD Parser
  entry: bash -c 'PYTHONPATH=. python3 -m src.tools.validators.verify_json_syntax "$@"' --
  language: system

turtle-lint:
  name: Turtle Parser
  entry: bash -c 'PYTHONPATH=. python3 -m src.tools.validators.verify_turtle_syntax "$@"' --
  language: system

update-registry:
  name: Update Ontology Registry and Catalog
  entry: bash -c 'PYTHONPATH=. python3 -m src.tools.utils.registry_updater'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

improve docs
  .github/instructions/architecture.md
  .gitignore
  artifacts/automotive-simulator/PROPERTIES.md
  artifacts/description/PROPERTIES.md
  artifacts/environment-model/PROPERTIES.md
  artifacts/envited-x/PROPERTIES.md
  artifacts/example/PROPERTIES.md
  artifacts/general/PROPERTIES.md
  artifacts/georeference/PROPERTIES.md
  artifacts/gx/PROPERTIES.md
  artifacts/hdmap/PROPERTIES.md
  artifacts/leakage-test/PROPERTIES.md
  artifacts/manifest/PROPERTIES.md
  artifacts/openlabel/PROPERTIES.md
  artifacts/ositrace/PROPERTIES.md
  artifacts/scenario/PROPERTIES.md
  artifacts/service/PROPERTIES.md
  artifacts/simulated-sensor/PROPERTIES.md
  artifacts/simulation-model/PROPERTIES.md
  artifacts/surface-model/PROPERTIES.md
  artifacts/survey/PROPERTIES.md
  artifacts/tzip21/PROPERTIES.md
  artifacts/vv-report/PROPERTIES.md
  docs/ontologies/catalog.md
  docs/ontologies/domains/index.md
  docs/ontologies/properties.md
  mkdocs.yml
  pyproject.toml
  src/tools/utils/properties_updater.py
Due: black, isort, flake8

improve docs
  docs/javascripts/mermaid.js
  docs/ontologies/catalog.md
  docs/ontologies/domains/index.md
  docs/ontologies/properties.md
  docs/ontologies/properties/automotive-simulator.md
  docs/ontologies/properties/description.md
  docs/ontologies/properties/environment-model.md
  docs/ontologies/properties/envited-x.md
  docs/ontologies/properties/example.md
  docs/ontologies/properties/general.md
  docs/ontologies/properties/georeference.md
  docs/ontologies/properties/gx.md
  docs/ontologies/properties/hdmap.md
  docs/ontologies/properties/index.md
  docs/ontologies/properties/leakage-test.md
  docs/ontologies/properties/manifest.md
  docs/ontologies/properties/openlabel.md
  docs/ontologies/properties/ositrace.md
  docs/ontologies/properties/scenario.md
  docs/ontologies/properties/service.md
  docs/ontologies/properties/simulated-sensor.md
  docs/ontologies/properties/simulation-model.md
  docs/ontologies/properties/surface-model.md
  docs/ontologies/properties/survey.md
  docs/ontologies/properties/tzip21.md
  docs/ontologies/properties/vv-report.md
  mkdocs.yml
  src/tools/utils/properties_updater.py
Due: black, isort, flake8

cross plattform make
  Makefile
  docs/getting-started/install-test-build.md
Due: none

improve docs 3
  .gitignore
  docs/javascripts/ontology-viz.js
  docs/ontologies/properties.md
  docs/stylesheets/ontology-viz.css
  hooks/copy_artifacts.py
  mkdocs.yml
  src/tools/utils/class_page_generator.py
Due: black, isort, flake8

fix diagramms
  docs/ontologies/artifacts
Due: none

fix diagramms
  docs/javascripts/ontology-viz.js
  hooks/copy_artifacts.py
  mkdocs.yml
  src/tools/utils/class_page_generator.py
Due: black, isort, flake8

docs: integrate owl viewer
  .github/copilot-instructions.md
  .github/workflows/cd-docs.yml
  .github/workflows/ci-docs-maintenance.yml
  docs/getting-started/contribute.md
  docs/index.md
  docs/javascripts/ontology-viz.js
  docs/ontologies/artifacts
  docs/ontologies/concepts.md
  docs/ontologies/properties/automotive-simulator.md
  docs/ontologies/properties/description.md
  docs/ontologies/properties/environment-model.md
  docs/ontologies/properties/envited-x.md
  docs/ontologies/properties/example.md
  docs/ontologies/properties/general.md
  docs/ontologies/properties/georeference.md
  docs/ontologies/properties/gx.md
  docs/ontologies/properties/hdmap.md
  docs/ontologies/properties/leakage-test.md
  docs/ontologies/properties/manifest.md
  docs/ontologies/properties/openlabel.md
  docs/ontologies/properties/ositrace.md
  docs/ontologies/properties/scenario.md
  docs/ontologies/properties/service.md
  docs/ontologies/properties/simulated-sensor.md
  docs/ontologies/properties/simulation-model.md
  docs/ontologies/properties/surface-model.md
  docs/ontologies/properties/survey.md
  docs/ontologies/properties/tzip21.md
  docs/ontologies/properties/vv-report.md
  docs/stylesheets/ontology-viz.css
  hooks/copy_artifacts.py
  mkdocs.yml
  pyproject.toml
  src/tools/utils/class_page_generator.py
  src/tools/utils/properties_updater.py
Due: black, isort, flake8

chore: update agents and w3id redirects
  .github/copilot-instructions.md
  .github/workflows/cd-docs.yml
  .github/workflows/cd-w3id-publish.yml
  AGENTS.md
Due: none

ci: fix docs deploy
  .github/workflows/ci-docs-maintenance.yml
Due: none

ci: fix docs maintenance auto-commit paths
  .github/workflows/ci-docs-maintenance.yml
Due: none

ci: fix docs maintenance auto-commit paths (#171)
  .github/workflows/ci-docs-maintenance.yml
Due: none

Update README.md
  artifacts/gx/README.md
Due: none

fix(release): pre-release audit fixes for v0.0.5
  .github/workflows/cd-release.yml
  .github/workflows/cd-w3id-publish.yml
  CLAUDE.md
  README.md
  artifacts/automotive-simulator/PROPERTIES.md
  artifacts/catalog-v001.xml
  artifacts/description/description.owl.ttl
  artifacts/example/example.owl.ttl
  artifacts/leakage-test/leakage-test.owl.ttl
  artifacts/openlabel/openlabel.shacl.ttl
  artifacts/service/PROPERTIES.md
  artifacts/simulated-sensor/simulated-sensor.owl.ttl
  artifacts/survey/survey-result-data-offering.shacl.ttl
  artifacts/survey/survey-service-offering.shacl.ttl
  artifacts/survey/survey.owl.ttl
  docs/discovery/registry-json.md
  docs/registry.json
  mkdocs.yml
  pyproject.toml
  src/tools/core/result.py
  src/tools/utils/readme_updater.py
  src/tools/utils/registry_resolver.py
  src/tools/utils/registry_updater.py
  src/tools/validators/shacl/inference.py
  src/tools/validators/shacl/validator.py
  src/tools/validators/syntax_validator.py
  src/tools/validators/validation_suite.py
  tests/fixtures/scenario_manifest_reference.json
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-registry

fix(docs): gx links, property updater, copy artifacts
  .gitignore
  docs/gaiax/gx-domain-migration.md
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
  hooks/copy_artifacts.py
  src/tools/utils/properties_updater.py
Due: black, isort, flake8

fix(docs): gx links, property updater, copy artifacts (#176)
  .gitignore
  docs/gaiax/gx-domain-migration.md
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
  hooks/copy_artifacts.py
  src/tools/utils/properties_updater.py
Due: black, isort, flake8

chore: release v0.1.0
  .github/workflows/cd-release.yml
  Makefile
  README.md
  artifacts/automotive-simulator/automotive-simulator.owl.ttl
  artifacts/environment-model/environment-model.owl.ttl
  artifacts/envited-x/envited-x.owl.ttl
  artifacts/general/general.owl.ttl
  artifacts/georeference/georeference.owl.ttl
  artifacts/hdmap/hdmap.owl.ttl
  artifacts/leakage-test/leakage-test.owl.ttl
  artifacts/manifest/manifest.owl.ttl
  artifacts/ositrace/ositrace.owl.ttl
  artifacts/scenario/scenario.owl.ttl
  artifacts/service/service.owl.ttl
  artifacts/simulated-sensor/simulated-sensor.owl.ttl
  artifacts/simulation-model/simulation-model.owl.ttl
  artifacts/surface-model/surface-model.owl.ttl
  artifacts/survey/survey.owl.ttl
  artifacts/tzip21/tzip21.owl.ttl
  artifacts/vv-report/vv-report.owl.ttl
  config/ontoenv.toml
  docs/discovery/registry-json.md
  docs/ecosystem/maintenance.md
  docs/index.md
  docs/registry.json
  pyproject.toml
  src/tools/utils/registry_updater.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-registry

chore: bump version to v0.1.0 (#177)
  .github/workflows/cd-release.yml
  Makefile
  README.md
  artifacts/automotive-simulator/automotive-simulator.owl.ttl
  artifacts/environment-model/environment-model.owl.ttl
  artifacts/envited-x/envited-x.owl.ttl
  artifacts/general/general.owl.ttl
  artifacts/georeference/georeference.owl.ttl
  artifacts/hdmap/hdmap.owl.ttl
  artifacts/leakage-test/leakage-test.owl.ttl
  artifacts/manifest/manifest.owl.ttl
  artifacts/ositrace/ositrace.owl.ttl
  artifacts/scenario/scenario.owl.ttl
  artifacts/service/service.owl.ttl
  artifacts/simulated-sensor/simulated-sensor.owl.ttl
  artifacts/simulation-model/simulation-model.owl.ttl
  artifacts/surface-model/surface-model.owl.ttl
  artifacts/survey/survey.owl.ttl
  artifacts/tzip21/tzip21.owl.ttl
  artifacts/vv-report/vv-report.owl.ttl
  config/ontoenv.toml
  docs/discovery/registry-json.md
  docs/ecosystem/maintenance.md
  docs/index.md
  docs/registry.json
  pyproject.toml
  src/tools/utils/registry_updater.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-registry

fix(ci): documentation
  .github/workflows/ci-docs-maintenance.yml
Due: none

Fix/ci v0.1.0 (#178)
  .github/workflows/ci-docs-maintenance.yml
Due: none

fix(ci): improve pre-commit hooks, remove ci_docs_maintenance
  .github/workflows/cd-docs.yml
  .github/workflows/cd-release.yml
  .github/workflows/ci-docs-maintenance.yml
  .pre-commit-config.yaml
  README.md
Due: none

fix(ci): improve pre-commit hooks, remove ci_docs_maintenance (#179)
  .github/workflows/cd-docs.yml
  .github/workflows/cd-release.yml
  .github/workflows/ci-docs-maintenance.yml
  .pre-commit-config.yaml
  README.md
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  jsonld-lint: any of: \.(json|jsonld)$ and \.json$
  turtle-lint: any of: \.(ttl)$
  update-registry: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
